<!DOCTYPE html>
<html lang="pt-br">

<head>
 <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
  <link rel="stylesheet" href="/css/compra.css" />
    <title>Compra Efetuada</title>
</head>

<body>

    <div class="container">
        <h1>Obrigado!!!</h1>
        <br>
        <i class="far fa-check-circle"></i>
        <br>
        <h3>Sua compra foi realizada com sucesso!</h3>
        <br>
        <h4>Logo você receberá um email contendo os detalhes de seu pedido.</h4>
        <br>
        <br>
        <a href="/">Voltar para o início</a>


    </div>

</body>

</html>